.header, .listNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    padding: 20px 24px;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-second);
    box-shadow: var(--shadow-bg);
    border-radius: 12px;
}


.item a{
    padding: 14px 16px;
}


.addSection .addSectionBtn{
    color: var(--light-gray);
}

.addSectionBtn:hover{
    color: var(--active-text);
}