:root{
    --main-bg-black:#0C0C0D;
    --desactive-text:rgba(236,236,236, 0.6);
    --active-text:#FFFFFF;
}


* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}


html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-black);
    color:var(--desactive-text);
    font-weight: 400;
    font-size: 20px;
}


input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color:var(--desactive-text)
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

.wrapper {
    overflow: hidden;
    display: flex;
    height: 100vh;
}


.main-section-container{
    width: 100%;
    padding: 140px 130px 82px 90px;
}

ul .active a{
    color: var(--active-text);
   
}

ul .active{
    border-color: var(--active-text);
}