.navigation{
    display: inline-flex;
    margin-right: 16px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;

    background: var(--bg-second);
    box-shadow: var(--shadow-bg);

}

.containerNav{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 16px;
}

.sectionLogo{
    display: flex;
    align-items: center;
}
.logoName{
    font-weight: 600;
    padding-left: 10px;
    color: var(--active-text);
    font-size: 20px;
}

.navList{
    flex-grow: 1;
    margin: 20px 0;
}

 .item{
    margin-bottom: 10px;
}


.themeLog .btnLogout{
    color: var(--light-gray);
}


